[Unit]
Description=Start info-beamer
After=syslog.target
ConditionPathExists=!/boot/config/no-run

[Service]
ExecStart=/home/webcamp/info-beamer-pi/info-beamer /srv/info-beamer/webcamp-2017
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
